
<mat-toolbar>
    
    <span>SmartVentes</span>
    <span class="fill-remaining-space"></span>
    <a mat-button routerLink="/loginn">Déconnexion</a>
    <mat-icon matBadge="22" matBadgePosition="above after" style="margin-right: 10px">settings</mat-icon>
    <mat-icon matBadge="22" matBadgePosition="above after">add_alert</mat-icon>
    
    
    </mat-toolbar>

    <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened>
          <mat-nav-list>
                <a mat-list-item routerLink="/login" routerLinkActive="active-list-item" ><mat-icon style="margin-right: 10px">folder</mat-icon>Dossier</a>
                <a mat-list-item routerLink="/list" routerLinkActive="active-list-item"><mat-icon style="margin-right: 10px">subtitles</mat-icon>Liste Clients</a>
                <a mat-list-item routerLink="/listfor" routerLinkActive="active-list-item"><mat-icon style="margin-right: 10px">subtitles</mat-icon>Liste Fournisseur</a>
                <a mat-list-item routerLink="/listpro" routerLinkActive="active-list-item"><mat-icon style="margin-right: 10px">subtitles</mat-icon>Liste Produits</a>
                <a mat-list-item routerLink="/listutil" routerLinkActive="active-list-item"><mat-icon style="margin-right: 10px">subtitles</mat-icon>Liste Utilisateurs</a>
               <a mat-list-item routerLink="/settings" routerLinkActive="active-list-item"><mat-icon style="margin-right: 10px">assignment</mat-icon>Planning</a>
               <a mat-list-item routerLink="/about" routerLinkActive="active-list-item"><mat-icon style="margin-right: 10px">subtitles</mat-icon>Caisse</a>
          </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
          
          <mat-toolbar color=primary>
      
            <span>Dossier Client</span>
            
            <span class="fill-remaining-space"></span>
            
            <mat-icon matBadge="22" matBadgePosition="above after">search</mat-icon>
            
            
            </mat-toolbar>
            <mat-toolbar >
              <div class=spacer>
                  <a mat-button routerLink="/dossier">Fiche Client</a>
              <a mat-button >Document</a>
              <a mat-button>Facture</a>
              <a mat-button>Visit</a>
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="Filter">
            </mat-form-field>
    
               
                
              </div>
                
                </mat-toolbar>
  
                















<table mat-table [dataSource]="listData" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef> Prénom </th>
        <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef> Telephone </th>
        <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
    </ng-container>

    <ng-container matColumnDef="ville">
        <th mat-header-cell *matHeaderCellDef> Ville </th>
        <td mat-cell *matCellDef="let element"> {{element.ville}} </td>
    </ng-container>

   

    <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef> Statut </th>
        <td mat-cell *matCellDef="let element"> {{element.statut}} </td>
    </ng-container>

    <ng-container matColumnDef="datedebut">
        <th mat-header-cell *matHeaderCellDef> Date de début </th>
        <td mat-cell *matCellDef="let element"> {{element.datedebut}} </td>
    </ng-container>

    

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
            <button mat-icon-button (click)="onDelete(row.id)" color="warn">
                <mat-icon>delete_outline</mat-icon>    
            </button>
        </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<router-outlet></router-outlet>