
<mat-toolbar>
    
        <span>SmartVentes</span>
        <span class="fill-remaining-space"></span>

        <mat-icon matBadge="22" matBadgePosition="above after" style="margin-right: 10px">settings</mat-icon>
        <mat-icon matBadge="22" matBadgePosition="above after">add_alert</mat-icon>
        
        </mat-toolbar>
        
                

        <form [formGroup]="login.form" class="example-forme" style="margin-right: 50px" (submit)="onLogin()">
                <mat-grid-list cols="1" rowHeight="300px">
                    <mat-grid-tile>
                        <div class="controles-container">
                            <input type="hidden" formControlName="id">
                            <mat-form-field class="example-full-widthe">
                                <input formControlName="email" matInput placeholder="Email*">
                                <mat-error>This field is mandatory.</mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-full-widthe">
                                    <input formControlName="password" type="password" matInput placeholder="Password *">
                                    <mat-error *ngIf="login.form.controls['password'].errors?.required">This field is mandatory.</mat-error>
                                    <mat-error *ngIf="login.form.controls['password'].errors?.minlength">Minimum 8 charactors neede d.
                                    </mat-error>
                                </mat-form-field>
                                <div class="button-row">
                                        <button mat-raised-button color="primary" type="submit" >Submit</button>
                                        <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                                        <a style="float: right;" mat-raised-button [routerLink]="['/register']">Register</a>
                           
                                    </div>


</div>
</mat-grid-tile>
</mat-grid-list>
</form>
