.mat-toolbar.mat-primary {
    
    height: 90px;
    background: #711203;
}

.mat-toolbar.spacer{
    height: 10px;
}

.mat-list-base .mat-list-item {
    color:#FAFAFAFA;
   
   
}
.mat-nav-list :hover{
    background-color: rgba(183, 196, 9, 0.712);

}