
    <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>SmartVentes</span>
    <span class="fill-remaining-space"></span>
    <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>
    <mat-icon matBadge="22" matBadgePosition="above after">settings</mat-icon>
    <mat-icon matBadge="22" matBadgePosition="above after">add_alert</mat-icon>
    
    </mat-toolbar>
    
    <mat-nav-list>
        <a mat-list-item routerLink="/dossier" routerLinkActive="active-list-item" >Dossier</a>
        
        <a mat-list-item routerLink="/settings" routerLinkActive="active-list-item">Planning</a>
        <a mat-list-item routerLink="/about" routerLinkActive="active-list-item">Caisse</a>
      </mat-nav-list>
       <!--    <app-product></app-product>-->
    